<div class="container">
  <div class="well">
    <%= link_to "New Zone", new_zone_path, remote: true, class: "btn btn-primary text-white" %>
    <%= link_to "Animals", animals_path, class: "btn btn-primary text-white" %>

  </div>
  <div class="new-zone"></div>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Clima</th>
        <th>Temperatura</th>
        <th>Humitat</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody class="zone-index">
      <%= render "index" %>
    </tbody>
  </table>

</div>
<div id="zone-modal" class="modal fade"></div>
